/* Importing Leaflet CSS and custom font */
@import "https://unpkg.com/leaflet@1.9.4/dist/leaflet.css";
@import "https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap";

/* Global CSS variables for the new color palette */
:root {
  --color-brand--1: #9a66ff; /* Purple accent color */
  --color-brand--2: #6b5b95; /* Muted purple for interactive elements */

  --color-dark--0: #1e1e2f; /* Dark background */
  --color-dark--1: #2d2d3a; /* Slightly lighter dark shade */
  --color-dark--2: #3a3a48; /* Even lighter dark shade */
  --color-light--1: #999; /* Light gray for subtle text */
  --color-light--2: #dcdcdc; /* Light gray for text */
  --color-light--3: #f2f2f2; /* Softest light gray */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  color: var(--color-light--2);
  font-weight: 400;
  line-height: 1.6;
  background-color: var(--color-dark--0);
}

label {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--color-light--2);
}

input,
textarea {
  width: 100%;
  padding: 0.8rem 1.2rem;
  font-family: inherit;
  font-size: 1.6rem;
  border: none;
  border-radius: 5px;
  background-color: var(--color-dark--2);
  color: var(--color-light--2);
  transition: all 0.2s;
}

input:focus {
  outline: none;
  background-color: var(--color-dark--1);
}

.cta:link,
.cta:visited {
  display: inline-block;
  background-color: var(--color-brand--2);
  color: var(--color-light--3);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem 3rem;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.cta:hover,
.cta:focus {
  background-color: var(--color-brand--1);
}
